<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="cidadeMaisSegura">

    <ion-pane>

      <ion-side-menus ng-controller="contentController">
        
        <ion-side-menu-content>
          
          <ion-header-bar class="bar-stable" ng-show="$root.title">
            <h1 class="cop-title"> {{ $root.title }} </h1>
            <i class="icon ion-navicon-round" ng-click="toggleLeft()"></i>
          </ion-header-bar>

          <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">

            <ul>
              <li class="title-y">CIDADE <i class="icon ion-plus-round"></i> SEGURA <br>
              <span class="username">Jhony Lucas</span></li>
              <li class="select" ng-click="changeLocation('#/feed')">feed de solicitações <i class="icon ion-chevron-right seta"></i></li>
              <li ng-click="changeLocation('#/termos')">Termos de uso <i class="icon ion-chevron-right seta"></i></li>
              <li ng-click="changeLocation('#/sobre')">sobre <i class="icon ion-chevron-right seta"></i></li>
              <li ng-click="changeLocation('#/sair')">Sair da conta <i class="icon ion-chevron-right seta"></i></li>
             
            </ul>

        </ion-side-menu>
      </ion-side-menus>

      
    </ion-pane>
  </body>
</html>
