<ion-view class="back-black"> 

  <ion-content class="has-header">  

  <div class="item">
    <h4>Maria Joana da Silva</h4>
    <h5>3km de distância</h5>	
    <i class="icon ion-location ball"></i>    
    <i class="icon ion-chevron-down options" ng-click="toUrl('#/show')"></i>
  </div>

  <div class="item">
    <h4>Associação Polícia Científica <br>de Pe - Boa Vista</h4>
    <h5>3km de distância</h5>	
    <i class="icon ion-location ball"></i>
    <i class="icon ion-chevron-down options" ng-click="toUrl('#/show')"></i>
  </div>

  <div class="item">
    <h4>Associação Polícia Científica <br>de Pe - Boa Vista</h4>
    <h5>3km de distância</h5>	
    <i class="icon ion-location ball"></i>
    <i class="icon ion-chevron-down options" ng-click="toUrl('#/show')"></i> 
  </div>

  </ion-content>

 </ion-view>