<ion-view class="back-login"> 
  <ion-content >

     <div class="box-login">
        <h3>LOGIN</h3>

     	<div class="field">
     		<input class="btn-icon" type="text" placeholder="E-mail">
     		<i class="icon ion-person"></i>
     	</div>

     	<div class="field">
     		<input class="btn-icon" type="password" placeholder="Senha">
     		<i class="icon ion-locked"></i>
     	</div>

     	<button class="btn-primary" ng-click="toUrl('#/feed')">ENTRAR</button>     	

     </div>
  </ion-content>
</ion-view>