<ion-view class="back-black"> 

  <ion-content class="has-header">
  
  <div class="box-normal show">
  	<h5>Maria Joana da Silva</h5>
  	<h6>3km de distância</h6>

  	<h6 id="cpf">CPF: 054.323.344-54</h6>
  	<h6 id="phone">Telefone: (81) 9687.8739</h6>
    <p>Escreva uma mensagem descrevendo a sua situação, isso irá ajudar bastante. Para melhorar a qualidade de nossos serviços seus dados pessoais seram enviados junto a solicitação.</p>
 
  </div>

  	<div id="map-canvas"></div>

  	<button class="btn-center btn-primary" ng-click="toUrl('#/find-cop/sucesso')">ABRIR NO GPS</button>

  </ion-content>

 </ion-view>