<ion-view class="back-black"> 

  <ion-content class="has-header">

  <div class="box-normal">
    <p>Escreva uma mensagem descrevendo a sua situação, isso irá ajudar bastante. Para melhorar a qualidade de nossos serviços seus dados pessoais seram enviados junto a solicitação.</p>
    <p>Escreva uma mensagem descrevendo a sua situação, isso irá ajudar bastante. Para melhorar a qualidade de nossos serviços seus dados pessoais seram enviados junto a solicitação.</p>
  </div>

  </ion-content>

 </ion-view>