/* Empty. Add your own CSS if you like */

.cop-title {
  font-size: 14px;
  text-align: center !important;
  width: 100%;
  padding-top: 9px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.bar-stable {
  background-color: #323234 !important;  
}


.bar-stable .icon {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 9px;
  left: 15px;
}

.back-login {
  background: url("../img/Blur-3.png");
  background-size: auto 100%; 
}

.back-cop {
  background-color: #2C2C2C;
  background: url("../img/recife-2.jpg");
  background-size: auto 100%;  
}

.back-cadastro {
  background: url("../img/Blur-2.png");
  background-size: auto 100%; 
}

.back-black {
  background-color: #2C2C2C;
  padding: 10px;
}

.box-all {
  border-radius: 6px;
  background-color: #fff;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 6vh;  
}

.box-normal {
  border-radius: 6px;
  background-color: #fff;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;  
}

.box-normal p {
  color: rgba(0,0,0,0.7);
}

.item {
  border-radius: 6px;
  background-color: #fff;
  padding: 10px;

  width: 90%;
  margin: 0 auto;
  margin-top: 10px;  
}

.item h4 {
  font-size: 12px ;
  font-weight: bold;
  color: rgba(0,0,0,0.8);
}

.item h5 {
  font-size: 12px;
  color: rgba(0,0,0,0.7);
}

.box-all h3 {
  text-transform: uppercase;
  text-align: center;
  color: #202020;
  opacity: 0.6;
  font-size: 20px;
}

.box-login {
  width: 90%;
  background-color: #fff;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 20px;
  box-sizing: boder-box;
}

.box-login h3 {
  text-align: center;
  color: #202020;
  font-size: 20px;
  opacity: 0.6;
}

.field input {
  background-color: #F5F5F5 ;
  border: 1px solid rgba(0,0,0,0.05);
  height: 40px;
  border-radius: 6px;
  color: #444;
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-icon {
  padding-left: 30px !important;
}

.field {
  position: relative;
}

.field .icon {
  position: absolute;
  font-size: 16px !important;
  color: rgba(0,0,0,0.3);
  top: 10px;
  left: 10px;
}

.btn-primary {
  background-color: #E9CE4B;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  border-radius: 6px;
}

.btn-second {
  border: none;
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #323234;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}


.find-cop-img {
  width: 100%;
  display: block;
  margin: 0 auto; 
  margin-bottom: 20px;
}

.btn-center {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.info {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

.info-just {
  padding: 10px;
  background-color: #3C3C3E;
  border-radius: 6px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
  color: #fff;
  opacity: 0.6;
}

.info-just.white {
  background-color: #fff;
  color: rgba(0,0,0,0.6);
  opacity: 1;
}

textarea {
  width: 100%;
  height: 150px;
}


.big-icon {
  text-align: center;
  color: #fff;
  font-size: 90px;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}

ion-side-menu {
  background-color: #323234 !important;
}

ion-side-menu ul li {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 15px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.title-y  {
  color: #E9CE4B;
}

.seta {
  float: right !important;
  margin-right: 15px;
  font-size: 18px;
}

.select {
  background-color: rgba(0,0,0,0.2);
}

.item {
  padding-left: 30px;
}

.item .ball {      
  font-size: 30px;
  position: absolute;
  left: 9px;  
  top: 10px;
  color: #E9CE4B;
}

.fade {
  background-color: rgb(0,0,0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -190;
  opacity: 0.5;
}

.box-dark {
  z-index: 2000 !important;
  background-color: #2C2C2C;
  border-radius: 6px;
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 20px;

  box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
}


.big-logo {
  background-color: #fff;
  width: 130px;
  height: 130px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 75px;
}


.username {
  font-size: 12px !important;
  color: #fff;
  opacity: 0.5;
}

.icon.options {
  position: absolute;
  font-size: 18px;  
  right: 10px;
  bottom: 4px;
}

.show {
  padding-top: 10px;
}
.show h5 {
  font-weight: bold;
  color: rgba(0,0,0,0.7);
  margin-bottom: 2px;
}

.show h6 {
  margin-top: 0px;
  color: rgba(0,0,0,0.5);
}

#cpf {
  margin-bottom: 0px;
}

#phone {
  margin-top: 0px;
}

#map-canvas {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 300px;
}